@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    background-color: theme("colors.background_primary");
    color: theme("colors.text_primary");
    font-family: theme("fontFamily.roboto_slab");
  }
}
